*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 768;
}

.container{
display:flex;

}
.principal{
    background-color:#E8EBE4;
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: center;
    align-items: center;
}
.principal_foto{
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.contacto{
    flex: 0 0 15rem;
    background-color: #FFF;
}
.menu{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-style: none none solid none;
    border-color: #E8EBE4;
    height: 60px;
    align-items: center;
    color: #828485;
    
}
.foto{
    height: 200px;
}
.texto{
    margin: 10px;
    width: 50%;
 
}
.user_online{
    display: flex;
    align-content: center;
    align-items: center;
}
.img_user_online_cl{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: #E8EBE4;
    border-style: solid;
    max-width: 100%;
}
.nombre_online{
    font-size: 15px;
}
.estado_online{
    color: gray;
    font-size: 10px;
}
.boton{
    display: flex;
    justify-content: center;
    border-style: none none solid none ;
    color: #E8EBE4;
    height: 100px ;
    align-items: center;
}
.nuevo_chat{
    background-color: #a491d2;
    height: 40px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    border:0px
}
.user{
    display: flex;
    border-style: none none solid none;
    color: #E8EBE4;;
    height: 75px;
    align-items: center;
    padding-left: 20px;
}
.img_usuario{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-color: #E8EBE4;
    border-style: solid;
    max-width: 100%;
}
.text_usuario{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.text_usuario_nombre{
    color: black;
    font-size: 15px;
}
.text_usuario_p{
    color: gray;
    font-size: 10px;    
}   